body {
    background-color: #a8caba;
    width: 900px;
    margin: 0 auto;
}

p {
    text-align: justify;
}

img {
    border-radius: 10px;
    width: 900px;
    height: auto;
}

h1 {
    text-align: center;
}

header {
    background-color: #5d415744;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}